<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makeup</title>
    <style>
        body{
            background-color: burlywood;
        }
        h1,h2{
            width: 40%;
            text-align: center;
        }
        input[type="submit"] {
            background-color: #4CAF50; 
            color: white; 
            padding: 10px; 
            border:none;
            border-radius: 5px; 
            cursor: pointer; 
            width: 5%;
        }
    </style>
</head>

<body>
    
    <h1 >Makeup</h1>
    <h2>DATA</h2>
    <h2>{{start}}</h2>
    <form action="/result" method="post">
        <input type="submit" value="口紅" name="口紅">
        <input type="submit" value="底妝" name="底妝">
        <input type="submit" value="彩妝" name="彩妝">
    </form>
    {% if data != undefined %}
    {% for i in data%}
        <table border="1">
        {% for title,content in i.items() %}
            <tr>
                <th>{{title}}</th>
                <td>{{content}}</td> 
            </tr>
        {% endfor %}
        <p></p>
        </table>
    {% endfor %}
    
    
    {% endif %}
</body>
</html>
